<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030717843057-1jokcsctqgj8du4tfjujp5mrls87m96u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030717843057-1jokcsctqgj8du4tfjujp5mrls87m96u</string>
	<key>API_KEY</key>
	<string>AIzaSyBmt6AU40YmfEG5NkBKCUK0RGhkSCcD7tM</string>
	<key>GCM_SENDER_ID</key>
	<string>1030717843057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.catalogonovo</string>
	<key>PROJECT_ID</key>
	<string>catalogo-2-4a8f9</string>
	<key>STORAGE_BUCKET</key>
	<string>catalogo-2-4a8f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030717843057:ios:53159506e4a490053d1dd0</string>
</dict>
</plist>